---
layout: 'layouts/home.njk'
theme: light
more:
  - title: Worry-Free Writing
    text: |
      Sync to any device,
      or access your files online:
      OddBooks will keep a history of your changes,
      so you never have to worry about losing your work.
  - title: No-Mess Collaboration
    text: |
      No more emailing files,
      or getting tangled in "real-time" online
      collaborations.
      Write in peace —
      then compare and merge versions
      whenever you're ready.
  - title: Full-Featured Text Editor
    text: |
      OddBooks provides a clutter-free environment
      for writing, editing, and exporting
      common document formats —
      with rich-text features like links,
      images, and embeded audio/video files.
---

<h2 class="fancy-title">
  <span>
    Worry-Free
    <b>Writing</b>
  </span>
  <span class="and amp">&</span>
  <span>
    No-Mess
    <b>Collaboration</b>
  </span>
</h2>

{% markdown %}
Whether you're drafting a screenplay,
editing a grant,
or co-authoring a manuscript –
the writing process can get messy fast:
tracking changes,
emailing files,
getting feedback,
and comparing versions.
**OddBooks keeps your writing-process uncluttered,
your projects organized,
and your collaborations smooth.**
{% endmarkdown %}

{% include "email.njk" %}
