---
layout: 'layouts/base.njk'
---

{% markdown %}
# Worry-Free Writing & No-Mess Collaboration

Whether you're drafting a screenplay,
editing a grant application,
or co-authoring a manuscript –
the writing process can get messy fast:
tracking changes,
emailing files,
getting feedback,
and comparing versions.
We wanted a tool that keeps our writing-process uncluttered,
our projects organized,
and our collaborations smooth.
{% endmarkdown %}

{% include "email.njk" %}

{% markdown %}
### Worry-Free Writing
OddBooks will save your work as you go
and keep a history of what you've done,
so you never have to worry about losing your work.
Sync your files to any device,
or access them online from a web browser –
so you can edit anytime, anywhere.

### No-Mess Collaboration
Rather than emailing individual files (Microsoft Word),
or getting tangled in "real-time" collaborations (Google Docs),
OddBooks gives every collaborator a workspace of their own.
You can write in peace,
with access to all variations in one place –
to compare and merge on your own time.

### Full-Featured Text Editor
Customize your workspace with your favorite writing modes,
themes, and built-in fonts.
OddBooks is not a design tool with resume or screenplay templates,
but we do import/export common document formats
and provide rich-text features like links,
images, and embeded audio/video files.
{% endmarkdown %}
