---
layout: 'layouts/home.njk'
theme: light
more:
  - title: Worry-Free Writing
    text: |
      Sync to any device,
      or access your files online:
      OddBooks will keep a history of your changes,
      so you never have to worry about losing your work.
    videourl: https://www.youtube.com/embed/FZnIrYFYsuU?rel=0&amp;controls=0&amp;showinfo=0
  - title: Comparing Changes
    text: |
      Easily compare changes between different versions
      of the writing projects in which you are working or contributing.
    videourl: https://www.youtube.com/embed/orTGd0ODkSQ?rel=0&amp;controls=0&amp;showinfo=0
  - title: No-Mess Collaboration
    text: |
      No more emailing files,
      or getting tangled in "real-time" online
      collaborations.
      Write in peace —
      then compare and merge versions
      whenever you're ready.
    videourl: https://www.youtube.com/embed/vOcfLOm6K90?rel=0&amp;controls=0&amp;showinfo=0
  - title: Full-Featured Text Editor
    text: |
      OddBooks provides a clutter-free environment
      for writing, editing, and exporting
      common document formats —
      with rich-text features like links,
      images, and embeded audio/video files.
    videourl: https://www.youtube.com/embed/Lo5NE3aRp_4?rel=0&amp;controls=0&amp;showinfo=0
---

<h2 class="fancy-title">
  <span>
    Worry-Free Writing
  </span>
  <span class="and amp">&</span>
  <span>
    No-Mess Collaboration
  </span>
</h2>

{% markdown %}
Whether you're co-authoring a manuscript,
editing a grant,
or drafting a screenplay –
the writing process can get messy fast:
tracking changes,
emailing files,
getting feedback,
and comparing versions.
**OddBooks keeps your writing-process uncluttered,
your projects organized,
and your collaborations smooth.**

*Sign up for our free private beta, coming soon:*
{% endmarkdown %}

{% include "email.njk" %}
