// Fancy Title
// ===========

.fancy-title {
  display: flex;
  grid-template: 'a1 and b1' auto
                 'a2 and b2' auto
               / 1fr auto 1fr;
  margin-bottom: size('gutter');

  span {
    display: inline-block;
    flex: 0 0 auto;
    font-weight: normal;
  }

  b {
    display: block;
    font-weight: bold;
  }

  .and {
    align-self: center;
    color: var-color('action-hover');
    font-size: size('large', ('times': 2.5));
    padding: 0 size('shim') 0 size('half-shim');
  }
}

