// More
// ====

[data-layout='more'] {
  @include above('page-break') {
    display: grid;
    grid-template-columns:
      [three-start] 1fr
      [two-start] calc(var(--margin) * 3)
      [three-end] 1fr
      [one-start] calc(var(--margin) * 3)
      [two-end] 1fr
      [one-end];
    grid-template-rows:
      [one-start] auto
      [two-start] size('shim', 'px')
      [one-end] auto
      [three-start] size('shim', 'px')
      [two-end] auto
      [three-end];
    max-width: size('page', ('times': 2.5));
  }
}

.more {
  background-color: var-color('background');
  background-clip: padding-box;
  border: size('shim', 'px') solid transparent;
  border-width: size('shim', 'px') 0;

  @include above('page-break') {
    padding: var(--margin) calc(var(--margin) * 1.5);

    h3,
    p {
      margin: 0;
    }

    &:nth-child(1) {
      border-bottom-color: var-color('removed-fg');
      border-top-color: var-color('removed-bg');
      grid-area: one;
    }

    &:nth-child(2) {
      border-bottom-color: var-color('removed-fg');
      border-top-color: var-color('removed-fg');
      border-width: size('shim', 'px');
      grid-area: two;
      margin: 0 var(--margin);
    }

    &:nth-child(3) {
      border-bottom-color: var-color('removed-bg');
      border-top-color: var-color('removed-fg');
      grid-area: three;
    }
  }
}
