{%- import 'utility.macros.njk' as utility -%}
<!doctype html>
<html lang="en"
	data-theme="{{ theme or 'light' }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <title>{{ renderData.title or title or site.title }}</title>
    <meta name="description"
      content="{{ site.description or page.description }}" />

    {% include 'site/og.njk' %}

		{% for url in site.styles %}
			<link rel="stylesheet"
				href="/assets/css/{{ url }}" />
		{% endfor %}

		<script src="https://use.typekit.net/slx1xnq.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>

	<body data-layout="grid">
		{% include "site/banner.njk" %}

		{% block body %}
		<main data-layout="main"
			{{ utility.attr_if('class', templateClass) }}>
			{{ content | safe }}
		</main>
		{% endblock %}

		{% block extra %}{% endblock %}

		<aside data-layout="graphic">
			{% include "site/graphic.svg" %}
		</aside>

		<footer data-layout="footer">
			© {% getDate 'year' %}
			<a href="mailto:{{ site.email }}">
				{{ site.author }}
			</a>

			<button class="toggle-theme">
				invert
			</button>
		</footer>

		<!-- Current page: {{ page.url | url }} -->

		<script>
			const toggle = document.querySelector(".toggle-theme");
			const theme = document.querySelector("html");
			const attr = "data-theme";
			const opts = {
				"light": "dark",
				"dark": "light",
			}

			toggle.addEventListener("click", () => {
				const current = theme.getAttribute(attr);
				theme.setAttribute(attr, opts[current]);
			});
		</script>
	</body>
</html>
