{% extends "layouts/base.njk" %}

{% block extra %}
  <div data-layout="more">
    {% for item in more %}
      <section class="more">
        <h3>{{ item.title | md('inline') | safe }}</h3>
        {{ item.text | md | safe }}
        <img src="/assets/images/{{ item.image }}.gif" alt="{{ item.imagealt }}">
      </section>
    {% endfor %}
  </div>
{% endblock %}
