{% extends "layouts/base.njk" %}

{% block extra %}
  <div data-layout="more">
    {% for item in more %}
      <section class="more">
        <h3>{{ item.title | md('inline') | safe }}</h3>
        {{ item.text | md | safe }}
        <div class="embed-container">
          <iframe src="{{ item.videourl }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </section>
    {% endfor %}
  </div>
{% endblock %}
